.host-panel {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

}

.host-panel-title {
    font-size: 2rem;
    padding-bottom: 20px;
}

.csv-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.csv-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .csv-input {
    width: 70%;
    color:white;
    background:#090020;
  }

  .create-room-name {
    font-family: 'Oxanium', sans-serif;
    width: 70%;
    font-size: 3rem;
    color: white;
    background: rgb(32, 0, 0);
    text-align:center;
  }
  
  .room-area {
    width: 100%;
  }

  .csv-error {
    color: red;
    font-size: 2rem;
  }

  .language-footer {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .languages {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 3rem;
    align-items: center;
  }

  .selectable-language {
    width: 100%;
    text-align:center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .selectable-language:hover {
    background: rgb(128, 128, 128);
  }
